<!DOCTYPE html>
<html>
<head>
    <title>Job Recommendations</title>
</head>
<body>
    <h1>Your Top 5 Job Recommendations</h1>
    <ul>
        {% for recommendation in recommendations %}
            <li>
                <strong>{{ recommendation.jobtitle }}</strong> at {{ recommendation.company }}<br><br>
                Link: {{ recommendation.jobdescription }}<br><br>
                Similarity Score: {{ recommendation.similarity_score }}%<br>
            </br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
